.nav-bar{
  display: flex;
  justify-content: space-evenly;
  margin: 40px;
}

.Nav_link:link {
  color: #fff;
  font-size: 1.2rem;
  line-height: 1.6rem;
  text-decoration: none;
}
.Nav_link:visited {
  color: black;
}
.Nav_link:hover {
  font-weight: bold;
  text-shadow: 2px 1px #6658F5;
}


.login-username{
  font-weight: 500;
  text-shadow: 1px 1px #6658F5;
  letter-spacing: 2px;
}

.login{
  letter-spacing: 3px;
  text-shadow: 2px 1px #6658F5;

}

.logo{
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  
}

.login-input{
  border: none;
  border-bottom: 2px solid #6658F5;
  margin: 20px;
}
/* .login-input:focus{
  border: 3px solid #6658F5;
} */

.login-form-btn {
  width: 150px;
  height: 40px;
  font-size: 15px;
  border-radius: 5px;
  margin: 10px;
  font-weight: bold;
  letter-spacing: 2px;
  font-weight: 900;
 color: #6658F5;
 background: #fff;
 border: 2px solid #6658F5;
 -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.login-form-btn:hover {
  background:#6658F5;
  color: #fff;
  box-shadow: 0 12px 16px 0 gainsboro;
  border: 3px solid #555;
}

.logout-btn{
  width: 80px;
  background: none;
  
}


form {
  display: flex;
  position: relative;
  width: 400px;
  margin: 16px auto;
  box-shadow: 4px 8px 16px #6658F5;
  align-items: center;
  background-color: #fff;
  padding: 1rem;
  flex-flow: column;
  
}

 form > input {
  border: 0;
  padding: 12px 16px;
  margin: 8px;
  background: #fff;
  font-size: 1rem;
  width: 240px;
  border-radius: 0;
  outline: 0;
  border: 1px solid #d4d4d4;
  border-radius: 6px;
}



.item-card{
  position: relative;
  background: #fff;
  border-radius: 2px;
  display: flex;
  max-height: 200px;
  margin: 1rem;
  padding: 1rem;
  width: 350px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.fa-times-circle{
position: absolute;
right: 10px;
top: 10px;
cursor: pointer;
}

.fa-edit{
  position: absolute;
  right: 10px;
  top: 200px;
  cursor: pointer;
}

img {
  width: 55%;
  
}

.item-info {
  text-align: start;
  padding-left: 24px;
}

.item-list {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}