.nav-bar{
  display: flex;
  justify-content: space-evenly;
  margin: 30px;
}





form {
  display: flex;
  z-index: 10;
  position: relative;
  width: 400px;
  margin: 16px auto;
  box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.3);
  align-items: center;
  background-color: #fff;
  padding: 1rem;
  flex-flow: column;
}

 form > input {
  border: 0;
  padding: 12px 16px;
  margin: 8px;
  background: #fff;
  font-size: 1rem;
  width: 240px;
  border-radius: 0;
  outline: 0;
  border: 1px solid #d4d4d4;
  border-radius: 6px;
}

.item-card{
  position: relative;
  background: #fff;
  border-radius: 2px;
  display: flex;
  max-height: 200px;
  margin: 1rem;
  padding: 1rem;
  width: 400px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.fa-times-circle{
position: absolute;
right: 9px;
top: 10px;
}

img {
  width: 55%;
}

.item-info {
  text-align: start;
  padding-left: 24px;
}

.item-list {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}